.body{
    left:0;
    top: 0;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.img{
    transition: 10000s;
    text-align: center;
    width: 300px;
    position: fixed;
}

.img:active{
    transform: rotate(30000000000000000000000000000000000000000000000000000000000000turn);
}

.flex{
    top: 100px;
    display: flex;
    align-items: center;
    align-items: center;
    height: 670px;
    justify-content: center;
}